{% extends 'base.html' %} {% block title %} About | Danev.xyz {% endblock %} {% block content %}
<main id="main_container">
	<div id="backgroundBox">
		<body>
			<div id="content_region">
				<h2 class="aboutH2">About me</h2>
				<div id="photoIntro">
					<img id="profilePhoto" src="{{ url_for('static', filename='me.jpg') }}">
						<p class="content_text">Hi, I'm Daniel. This is my (work in progress) website. I'm currently a postgraduate student in UCD, in the
							<a href="https://sisweb.ucd.ie/usis/!W_HU_MENU.P_PUBLISH?p_tag=PROG&MAJR=T195">Computer Science (Conversion) MSc.</a>
							course. Feel free to check me out on
							<a href="https://www.linkedin.com/in/danielkdanev/">LinkedIn</a>
							or
							<a href="https://github.com/danevd-TCD">GitHub</a>
							. You can even check out the source files for this site
							<a href="https://github.com/danevd-TCD/personal-Site">here.</a>
						</p>
					</div>
					<h2 class="aboutH2">About this site</h2>
					<p class="content_text">This site is running on a
						<a href="https://www.linode.com/">Linode Nanode</a>
						instance running Ubuntu, with a domain name from
						<a href="https://www.namecheap.com/">NameCheap</a>
						. The site is using
						<a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a>
						as a framework, with
						<a href="https://httpd.apache.org/">Apache</a>
						acting as the WSGI server.
					</p>
				</div>
			</body>
		</div>
	</main>
	{% endblock %}