<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}">
			<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> <!-- universal 16x16 ICO favicon-->
			<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icon-192.png') }}">
				<!-- chrome larger favicon -->
				<title>
				{% block title %}{% endblock %}
				</title>
			</head>
			<body>
			{% include "navbar.html" %}
			{% block content %}
			{% endblock %}
				<div class="footer">
					<footer>
						<!--<a href="https://github.com/danevd-TCD/">Daniel Danev 2021</a>-->
						<p class="footer_p">Daniel Danev 2021</p>
					</footer>
				</div>
			</body>
</html>
